.wrap-table {
  margin: 0 50px;
}

.title-table {
  text-align: center;
  margin-bottom: 20px;
}

.wrap-search-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrap-row-input {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.ml-20 {
  margin-left: 500px;
}

.text-right {
  float: right;
  margin-right: 200px;
}

.pie-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  position: relative;
}

.pie {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.pie-slice {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transform-origin: center;
  clip: rect(0, 150px, 300px, 150px);
}


